#product_wrapper {
  .row {
    width: 100%;
    border-top: 1px solid rgba(250, 250, 250, .3);
    border-bottom: 1px solid rgba(250, 250, 250, .3);
    .complete {
      width: 10%;
      float: left;
      text-align: center;
      border-right: 1px solid rgba(250, 250, 250, .3);
      padding: 1em 0;
    }
    .product {
      width: 80%;
      float: left;
      p {
        margin: 0;
        padding: 1em;
        color: $dark;
        font-weight: 100;
      }
    }
    .trash {
      width: 10%;
      float: left;
      text-align: center;
      border-left: 1px solid rgba(250, 250, 250, .3);
      padding: 1em 0;
    }
    i {
      color: white;
      transition: all .4s ease-in-out;
      &:hover {
        color: $dark;
      }
    }
  }
}
