<p id="notice"><%= notice %></p>

<div class="content">
  <div class="content-padded">
    <div>
      <%= render "form"%></div>
    <h3>Product list</h3>
    <p>This is products you need to buy. Click on product to mark as completed.</p>
  </div>
  <div class="card">
    <ul class="table-view">
      <% @products.each do |product| if @products  %>
        <li class="table-view-cell">
          <p><%= render :partial => "products/product", :locals => {:product => product} %></p>
        </li>
      <% end %>
      <% end %>
    </ul>
    <%if @products.count >= 2 %>
    <%= link_to "Delete all", remove_all_products_path, method: "get", class: "btn btn-negative btn-block"  %>
    <% end %>
  </div>
</div>

