<p id="notice"><%= notice %></p>

<div class="content">
  <div class="content-padded">
    <div>
      <%= render "form"%></div>
    <h3>Product list</h3>
    <p>This is products you need to buy.</p>
  </div>
  <div class="card products_wrapper">
    <ul class="table-view">
      <% @products.each do |product| if @products  %>
        <li class="table-view-cell">
          <p><%= render :partial => "products/product", :locals => {:product => product} %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>

